name: Release Drafter

on:
  pull_request:
    types: [closed]

jobs:
  one-draft-release:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.merged == true && github.base_ref == 'main' && github.event.label.name == 'one'
    steps:
      - name: Release drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter-one.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  two-draft-release:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.merged == true && github.base_ref == 'main' && && github.event.label.name == 'two'
    steps:
      - name: Release drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter-two.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
